<h1>Warning Thresholds</h1>
<ul>
  <% @warning_thresholds.each do |warning_threshold| %>
    <li>
      <%= link_to warning_threshold.city, warning_threshold %>
    </li>
  <% end %>

  <%= link_to "New warning threshold", new_warning_threshold_path %>
</ul>
<p>Current user email: <%= current_user.email %></p>
